@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

.box {
  background-color: rgb(149, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(162, 91, 91);
}

form {
  position: absolute;
  margin-top: 80px;
  transition: 0.5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgb(255, 159, 159);
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #ff0000, #661818);
  border-radius: 30px;
  transition: 0.3s;
}

input[type="text"],
input[type="password"] {
  border: none;
  margin-top: 30px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: #000000;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 40px;
}

.iPassword {
  top: 114px;
}

.iPassword2 {
  top: 190px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #000;
}

body nav {
  background: rgba(255, 255, 255, 0.1);
}

body nav .navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff !important;
}

.fh5co-banner-text-box {
  position: relative;
  max-height: 120px;
  display: inline-block;
  margin-top: 250px;
}
.fh5co-banner-text-box .quote-box {
  max-width: 455px;
  padding: 15px 0;
}
.fh5co-banner-text-box .quote-box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 40px;
}
.fh5co-banner-text-box .quote-box h2 span {
  color: #8b0000;
  font-size: 34px;
}
.fh5co-banner-text-box .quote-box::before {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  left: 0;
  top: 0;
  background: url("../images/right-quote.png");
  background-repeat: no-repeat;
}
.fh5co-banner-text-box .quote-box::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  background: url("../images/left-quote.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}

footer::before {
  position: absolute;
  border: 3px solid #8b0000;
  width: 100%;
  left: 0;
}
